/*fonts*/
@font-face { font-family: GalaxiePolarisCondensed-Book; src: url('../fonts/GalaxiePolarisCondensed-Book.otf'); } 
@font-face { font-family: GalaxiePolarisCondensed-Bold; font-weight: bold; src: url('../fonts/GalaxiePolarisCondensed-Bold.otf'); }
@font-face { font-family: GalaxiePolarisCondensed-Light; font-weight: bold; src: url('../fonts/GalaxiePolarisCondensed-Light.otf'); }

#stage{
    height: 100%;
    width: 100%;
    float: left;
    display: block;
}

#nav{
    width: 255px;
    height: 795px;
    background-color: #333333;
    float: left;
    z-index: 99 !important;
    border-bottom: 5px solid #e51b2d;
    font: normal 22px  GalaxiePolarisCondensed-Book;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

    #nav span.navitem{
        color: #fff; text-decoration: none; display: block;
        padding: 20px 0px 20px 0px;
    }

    #nav span.grey{
        color: #666666;
    }

    #panel {
        float:left;
        height:795px;
        position:relative;
        width: 0px;
        background-color: #333333;
        /*background-color: green;*/
        border-bottom: 5px solid #e51b2d;
        z-index: 100;
    }
        #close{
            display: none;
            position: relative;
            top: 30px;
            left: 650px;
        }

        #nav-services, #nav-how, #nav-training{ display: none; }

        .navbox{ 
            position: relative;
            left: 20px;
            top: 50px;
            height: 500px;
            width: 650px;
        }

        .selectbox{
            margin: 0px 30px 30px 50px;
            display: block;
            height: 234px;
            width: 236px;
            background: transparent url('../img/select-box.png') top left no-repeat;
            float: left;
        }
            .selectbox-content{}
            .selectbox-content img{ 
                position: relative;
                top: 3px;
                left: 3px;
                border: 5px solid #1f1f1f;
                height: 81px;
                width: 220px;
            }

            .selectbox-content h2{
                font: 15px normal Arial, sans-serif;
                color: #fff;
                text-transform: uppercase;
                margin: 8px 0px 0px 8px;
            }

            .selectbox-content p{
                font: 13px normal Arial, sans-serif;
                color: #999999;
                margin: 8px 0px 0px 8px;
                width: 220px;
            }

    #arrow{
        
        position: absolute;
        top: 372px;
        left: -27px;
    }



#main{
    /*background-color: blue;*/
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 255px;
    width: 1025px;
    height: 800px;
  /*  background: transparent url('../img/splash.jpg') top left no-repeat; */
}


    .content{ margin: 40px; }
    .topbar{
        height: 32px;
        width: 975px;
        background: transparent url('../img/serviceshop-top-bar.jpg') top left no-repeat;
    }

    .content h1{
        font: normal 18px GalaxiePolarisCondensed-Book;
        text-transform: uppercase;
        text-align: left;
        color: #999999;
    }
    .content .section-title{ color: #00ae9e; font-family: GalaxiePolarisCondensed-Bold; }

